.popup__title {
  margin: 38px 0 40px 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 43px 0;
  }
}
